*.lo
*.o
*.a
Makefile
Makefile.in
~*
*.gmo
src/.*
data/.*
doc/.*
po/.*
*.libs
*.deps
.cache
.direnv
compile_commands.json
result
data/*.desktop
data/qalculate-gtk.appdata.xml
po/POTFILES
po/stamp-it
src/flags.c
src/gnome-search-provider2.c
src/gnome-search-provider2.h
src/io.github.Qalculate.SearchProvider.service
src/qalculate-gtk
src/qalculate-search-provider
src/ui.c
aclocal.m4
autom4te*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
m4/*
missing
stamp-h
stamp-h1
lokalize-scripts/
main.lqa
qalculate-gtk.lokalize
